{% extends 'clients/_main_base.html' %}
{% block title %} Dashboard  {% endblock %}
{% block content %}

  <div class="all_contariner">
    <div class="row">
        <div class="col s12 m4 l2"><p></p></div>
        <div class="col s12 m4 l8"><p></p></div>
        <div class="col s12 m4 l2">
            <a href="{% url 'project:new' request.user.username %}">Nuevo projecto</a>
        </div>
      </div>

      <div class="row">
        <div class="col s7 push-s5">
          {% if projects %}
            <ul class="collection">
              {% for project in projects %}
               <li class="collection-item avatar">
                  <img src="images/yuna.jpg" alt="" class="circle">
                  <span class="title"> {{ project.name }} </span>
                  <p>{{ project.status }} <br>
                    {{ project.get_short_description }}
                  </p>
                  
                  <div class="secondary-content">
                    <div class="circle_status" style="background-color:{{ project.status.color }}" ></div>
                  </div>
                </li>
              {% endfor %}
            <ul>
          {% endif %}
      </div>

        <div class="col s5 pull-s7 cantainer_card ">
         {% if projects %}
            <ul class="collection">
              {% for project in projects %}
               <li class="collection-item avatar">
                  <a href="{% url 'project:show' project.path %}">
                    <img src="images/yuna.jpg" alt="" class="circle">
                    <span class="title"> {{ project.name }} </span>
                    <p>{{ project.status }} <br>
                      {{ project.get_short_description }}
                    </p>
                    
                    <div class="secondary-content">
                      <div class="circle_status" style="background-color:{{ project.status.color }}" ></div>
                    </div>
                  </a>
                </li>
              {% endfor %}
            <ul>
          {% else %}
            <p> No tienes ningun proyecto aun</p>
          {% endif %}

        </div>
      </div>
  </div>
    
{% endblock content %}
