hgroup { 
	text-align:center;
	margin-top: 4em;
}

h3 { 
	font-weight: 300; 
	color: #9e9e9e;
}

.form_user {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.class_container{
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}


 .input-field label {
   color: #ACACAC;
 }

 .input-field input[type=text]:focus + label {
    color: #ACACAC;
 }

.input-field input[type=password]:focus + label {
  color: #ACACAC;
}

.input-field input[type=email]:focus + label {
  color: #ACACAC;
}

 .input-field input[type=textarea]:focus + label  {
    color: #ACACAC;
 }


.input-field input[type=text]:focus {
   border-bottom: 1px solid #ACACAC;
   box-shadow: 0 1px 0 0 #ACACAC;
 }

.input-field input[type=password]:focus {
   border-bottom: 1px solid #ACACAC;
   box-shadow: 0 1px 0 0 #ACACAC;
 }

 .input-field input[type=email]:focus {
   border-bottom: 1px solid #ACACAC;
   box-shadow: 0 1px 0 0 #ACACAC;
 }




.input-field input[type=text].valid {
   border-bottom: 1px solid #858585;
   box-shadow: 0 1px 0 0 #858585;
 }

 .input-field input[type=password].valid {
   border-bottom: 1px solid #858585;
   box-shadow: 0 1px 0 0 #858585;
 }

 .input-field input[type=email].valid {
   border-bottom: 1px solid #858585;
   box-shadow: 0 1px 0 0 #858585;
 }


 footer { 
 	text-align: center; 
 }

 footer p {
	color: #888;
	font-size: 12px;
}

#project_name{
  margin-left: 20px;
}

.datepicker {
background-color: #fff ;
color: #333 ;
}

.cantainer_card{
  height: 500px;
  overflow: scroll;
}
.cantainer_task_collection{
  height: 400px;
  overflow: scroll;
}

.circle_status {
  position: relative;
  background-color: #09f;
  margin: 10px auto;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

 
 a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

#pop{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  
  overflow:auto
}
div#pop_task {
position:absolute;
left:50%;
top:17%;
background-color:#D5E5F1;
margin-left:-202px;
font-family:'Raleway',sans-serif;
z-index:200;
}

#contributors{
  margin:100px 30px 10px 0;
}

.my_padding{
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
}

.image_profile
{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.border_grey{
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.container_image{
    width: 100px;
    height: 100px;
}
.img_porfolio{
  position: relative;
  width: 100px;
  height: 100px;
}

.image_portafolio{
  max-height: 150px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.menos_pading{
  margin-top: -80px;
}
