{% extends 'base.html' %}

{% block title %} Project Register  {% endblock %}

{% block group %}
  <hgroup>
    <h3>Registro</h3>
  </hgroup>
{% endblock %}

{% block content %}
  <form id="login_form_user" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="row">
        <div class="input-field col s12">
         
          {{ field }}
         
         <label class="{% for class in field.label_classes %}{{ class }} {% endfor %}"
         for="{{ field.name }}">{{ field.label }}</label>

        </div>
      </div>
    {% endfor %}
    <button class="btn #9e9e9e grey" type="submit" name="action">Crear</button>
  </form>
  <footer>
    <p> Ya tengo una cuenta <a href="{% url 'client:login' %}"> ingresar </a></p>
  </footer>

{% endblock content %}