{% extends 'clients/_main_base.html' %}

{% block title %} Dashboard  {% endblock %}

{% block content %}

<!-- 
  <div class="row">
    <div class="col s12 m4 l3"> 
    	<h5 class="brown-text">Comentarios</h5>
    	<div>
    		<div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    	</div>
    </div>

    <div class="col s12 m8 l9 tasks "> 
    	<h5 class="brown-text">Tareas</h5>
    	<div>
    		<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1 ">This is a card panel with a teal lighten-2 class</div>
    		<div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    		<div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    		<div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    	</div>
    </div>
  </div>
-->

{% endblock content %}