{% extends 'clients/_main_base.html' %}
{% block title %} Dashboard  {% endblock %}
<!-- links para formularios -->
{% block content %}
{% load staticfiles %}	

	<div class="valign-wrapper">
		<div class="row">

      <div class="col s3 my_padding">
      	<div class="collection black-text">
        	<a href="{% url 'client:general_settings' %}" class="collection-item black-text ">General</a>
        	<a href="{% url 'client:image_settings' %}" class="collection-item black-text ">Imagen</a>
        	<a href="{% url 'client:change_password' %}" class="collection-item active #9e9e9e grey">Password</a>
        	<a href="{% url 'client:image_settings' %}" class="collection-item black-text">Soc¡al Network</a>
        	<a href="{% url 'client:image_settings' %}" class="collection-item black-text">Eliminar Cuenta</a>
      	</div>
      </div>

      <div class="col s9">
				<form id="change_pasword" method="post" action="" enctype="multipart/form-data" class="form_user">
					{% csrf_token %}
			    {% for field in form %}
			      <div class="row">
			        <div class="input-field col s12">
			           {{ field }}
			          <label class="{% for class in field.label_classes %}{{ class }} {% endfor %}" for="{{ field.name }}">{{ field.label }}</label>
			        </div>
			      </div>
			    {% endfor %}
			    <button class="btn #9e9e9e grey" type="submit" name="action">Actualizar</button>
  			</form>
      </div>

    </div>
	</div>
        
{% endblock content %}
